<div class="nested-fields">
<!-- deleted error messages for now -->

	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br/>
		<%= f.text_field :description %>
	</div>
	<div class="field">
		<%= f.label :amount %><br/>
		<%= f.text_field :amount %>
	</div>
	<div class="field">
		<%= f.label :backer_limit %><br/>
		<%= f.text_field :backer_limit %>
	</div>

	<%= link_to_remove_association 'remove reward', f %>
</div>