
<h1>All Projects</h1>

<%= form_tag projects_path, method: :get, id: 'search-form' do %>
	<%= select_tag(:search, options_for_select([['Art', 1], ['Food', 2], ['Games', 3], ['Film/Video', 4], ['Music', 5], ['Photography', 6], ['Dance', 7]])) %>
	<%= submit_tag "Filter!" %>
<% end %>

<% @projects.each do |project| %>
	<p>Name: <%= link_to project.title, project_path(project) %><br />
	  Description: <%= project.description %><br />
	  Category: <%= project.category.name %><br />
	  Start Date: <%= project.start_date %><br />
      End Date: <%= project.end_date %><br />
	  Funding Goal: <%= project.funding_goal %><br />
	</p>
<% end %>

<%= link_to "make a new project", new_project_path %>

